hcktml
  head
    title
      | #{journey.title} | KS2 Science | BBC Bitesize
    meta(charset="utf-8")
    script(src='/bower_components/requirejs/require.js')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bower_components/bootstrap-combobox/js/bootstrap-combobox.js')
    link(rel='stylesheet', href='/bower_components/bootstrap-combobox/css/bootstrap-combobox.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    script.										
      require.config({
        paths: {
          "embed": "http://play.bbc.co.uk/play/sdk/embed/v1/latest"
        }
      });
    if journey.background
      style.
        body { background: url('#{journey.background}'); padding: 16px; background-position: center; background-repeat: no-repeat; background-attachment: fixed;}

  body 
    .container
      #frame
        h1= journey.title
        h2= journey.topic
        h2 Step #{parseInt(stepId)+1} of #{journey.steps.length}
        if step
          if step.type == 'activity'
            div(id='og-frame-holder').activity
              div.loading Loading activity...
              script.
                var gid = "#{step.gid}";
                var qs = "#{step.qs}";
          
              script.
                require(["embed/embed"], function(embed) {
                  embed(gid, {
                    frameContainerId: "og-frame-holder",
                    exitGameUrl: "http://www.bbc.co.uk/bitesize/",
                    queryString: qs
                  });
                });
          else
            div(id='og-frame-holder').html.
               !{step.html}
        else 
          div(id='og-frame-holder').html
            p Step #{parseInt(stepId)+1} not found
      ul
        li
          - var next = parseInt(stepId) + 2; // adjust for zero-index, then add one
          a(href='/journeys/'+journeyId+'/steps/'+next) Next step

      aside
        p
          | © 2016 BBC Bitesize | 
          a(href='/') Index

